* {
    font-family: "Inter";
    color: #fff;
}

.main-bg {
    background: linear-gradient(139.99deg, #3F4FD7 22.82%, rgba(14, 25, 116, 0.86) 82.13%);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}

.nav-link {
    margin-left: 40px;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
}

.nav-links a:hover {
    color: aqua;
}

.main-heading {
    margin-top: 17px;
    margin-bottom: 20px;
}

.main-text {
    font-size: 50px;
}

.contact-btn {
    background: #71D5FF3D;
    color: #fff;
    border-radius: 26px;
    border: none;
    width: 160px;
}

.sm-icon {
    margin-top: 40px;
    margin-bottom: 40px;
}

.service {
    color: #FF688C;
    font-size: 24px;
}

.create {
    color: #000;
}

.small-text {
    color: #7F7E7E;
}
.peach-text {
    color: #FF688C;
}

@media screen and  (max-width: 320px) {
    .main-bg {
        background: linear-gradient(139.99deg, #3F4FD7 22.82%, rgba(14, 25, 116, 0.86) 82.13%);
        background-size: cover;
        width: 100%;
        background-repeat: no-repeat;
    }

    .main-text {
        font-size: 30px;
        text-align: center;
    }

    .creating-digital {
        text-align: center;
    }
}

@media screen and  (max-width: 770px) {

    .headings {
        background-image: url(./images/overall-triangle.svg);
        background-size: cover;
    }

    .main-info {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-content: center;
        margin-top: 20px;
        width: 100%;
    }

    .contact-btn {
        align-self: center;
        align-content: center;
    }

    .sm-icon {
        align-self: center;
        align-content: center;
    }

    .bg-image {
        display: none;
    }
    
}

@media screen and  (max-width: 870px) {
    .section-rev {
        display: flex;
        flex-direction: column-reverse;
    }

    .section-p {
        margin-top: 30px;
    }
}
/*Timileyin*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
body    {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}
.our-team   {
    color:#FF688C;
    font-size: 18px;
    font-weight: 900;
}
.create {
    font-size: 38px;
    font-weight: 900;
    width: 45%;
    margin: 0 auto;
    line-height: 54.38px;
}
.lorem  {
    font-size: 18px;
    width: 30%;
    margin: 0 auto;
    line-height: 25.76px;
}
.work {
    margin-top: 10rem;
}
.btn-size   {
    width: 147.02px;
    height: 45.83px ;
    background: linear-gradient(to right, #127CFF, #2FC1FE);
}
.paradox    {
    display: flex;
    align-items: center;
    text-align: center;
}
.paradox  h5{
    margin: 0;
}
.footer {
    margin-top:7rem;
    padding: 3rem 0;
}
/* footer  {
    padding-left: 10rem;
} */
.JD h5{
    margin: 0;
    font-size: 18px;
}
@media screen and (max-width:768px) {
    .create {
        width: 81%;
    }
    .lorem  {
        width: 58%;
    }
    .JD {
        margin-left: 1.5rem !important;
    }
    .lorem  {
        width: 58%!important;
    }
}
@media screen and (max-width: 576px)    {
    .lorem  {
        width: 70%!important;
    }
}